{% extends "base.html" %}

{% block content %}
<h2> {{ dog.name }}</h2>
<div class="row equal bottom-25">
    <div class="col-md-4 col-xs-12">
        <strong>Płeć:</strong> {{ dog.get_sex_display }}</br>
        <strong>Wiek w latach:</strong>  {{ dog.age }} </br>
        <strong>Waga:</strong>  {{ dog.weight }} kg</br>
        <strong>Województwo:</strong>  {{ dog.get_region_display }}</br>
        <strong>Miejscowość:</strong>  {{ dog.town }}</br>
        <strong>Akceptuje koty:</strong>  {{ dog.get_accepts_cats_display }}</br>
        <strong>Może zamieszkać z psem:</strong>  {{ dog.get_house_with_male_dog_display }}</br>
        <strong>Może zamieszkać z suczką:</strong>  {{ dog.get_house_with_female_dog_display }}</br>
        <strong>Dowóz do domu:</strong>  {{ dog.get_transport_display }}</br>
        <strong>Adopcja za granicę:</strong>  {{ dog.get_adoption_abroad_display }}</br>
        <strong>Kategoria:</strong>  {% for cat in dog.categories.all %} {{ cat }} {% endfor %}</br>
        <strong>Kontakt:</strong> : {{ dog.contact_data }}</br>
        <a href="/wiadomosc/{{ dog.pk }}" class="btn btn-default btn-md" role="button">Wyślij wiadomość</a>
        <a href="/ankieta/{{ dog.pk }}" class="btn btn-default btn-md" role="button">Wyślij ankietę adopcyjną</a>
    </div>
    <div class="text-left col-md-8 col-xs-12">
        {{ dog.description }}
    </div>
</div>
<div class="row equal">
   {% for pic in pictures %}
    <div class="col-md-3 col-sm-6 col-xs-12 bottom-25">
          <img src="/media/{{ pic.picture }}" class="img-responsive img-rounded">
          {% if user == dog.user or user.is_superuser %}
          <a href="/zdjecie_profilowe/{{ pic.id }}" class="btn btn-warning btn-xs">Ustaw jako zdjęcie profilowe</a>
          <a href="/usun_zdjecie/{{ pic.id }}" class="btn btn-danger btn-xs">Usuń</a>
          {% endif %}
    </div>
    {% endfor %}
 </div>
{% endblock %}

{% block user %}
{% if user.is_authenticated%}
{% if user == dog.user or user.is_superuser %}
<div>
    <a href="/wiadomosci/{{ dog.pk }}/" class="btn btn-info">Pokaż wiadomości</a>
    <a href="/ankiety/{{ dog.pk }}/" class="btn btn-info">Pokaż ankiety adopcyjne</a>
    <a href="/zdjecie/{{ dog.pk }}" class="btn btn-warning">Dodaj zdjęcia</a>
    <a href="/edytuj/{{ dog.pk }}/" class="btn btn-warning">Edytuj</a>
    <a href="/usun/{{ dog.pk }}/" class="btn btn-danger">Usuń</a>
</div>
{% endif %}
{% endif %}
{% endblock %}
