{% extends "base.html" %}

{% block content %}
<h2> {{ dog.name }}</h2>
  <p></p><img src="/media/{{ dog.picture }}"></p>
    Numer: {{ dog.pk }}<br>
    Płeć: {{ dog.get_sex_display }}</br>
    Wiek: {{ dog.age }}</br>
    Waga: {{ dog.weight }} kg</br>
    Województwo: {{ dog.get_region_display }}</br>
    Miejscowość: {{ dog.town }}</br>
    Akceptuje koty: {{ dog.get_accepts_cats_display }}</br>
    Może zamieszkać z psem: {{ dog.get_house_with_male_dog_display }}</br>
    Może zamieszkać z suczką: {{ dog.get_house_with_female_dog_display }}</br>
    Dowóz do domu: {{ dog.get_transport_display }}</br>
    Adopcja za granicę: {{ dog.get_adoption_abroad_display }}</br>

<p>{{ dog.description }}</p>
<p>Kategoria:
   {% for cat in dog.categories.all %}
   {{ cat.get_name_display }}
   {% endfor %}
</p>

{% endblock %}