{% extends "base.html" %}
{% block content %}
<h2> {{ dog.name }}</h2>
  <p><img src="/media/{{ dog.picture_1 }}"></p>
<p><img src="/media/{{ dog.picture_2 }}"></p>
<p><img src="/media/{{ dog.picture_3 }}"></p>
  <p><img src="/media/{{ dog.picture_4 }}"></p>
<p><img src="/media/{{ dog.picture_5 }}"></p>
<p><img src="/media/{{ dog.picture_6 }}"></p>
<p>
    Numer: {{ dog.pk }}<br>
    Płeć: {{ dog.get_sex_display }}</br>
    Wiek w latach: {{ dog.age }} </br>
    Waga: {{ dog.weight }} kg</br>
    Województwo: {{ dog.get_region_display }}</br>
    Miejscowość: {{ dog.town }}</br>
    Akceptuje koty: {{ dog.get_accepts_cats_display }}</br>
    Może zamieszkać z psem: {{ dog.get_house_with_male_dog_display }}</br>
    Może zamieszkać z suczką: {{ dog.get_house_with_female_dog_display }}</br>
    Dowóz do domu: {{ dog.get_transport_display }}</br>
    Adopcja za granicę: {{ dog.get_adoption_abroad_display }}</br>
</p>
<p>{{ dog.description }}</p>
<p>
    Kategoria:
   {% for cat in dog.categories.all %}
   {{ cat.name }}
   {% endfor %}
</p>
<a href="/pytanie/{{ dog.pk }}">Zapytaj o psa</a></br>
<a href="/ankieta/{{ dog.pk }}">Wyślij ankietę adopcyjną</a></br>
    {% comment %}
    {% if perms.adopcje.change_dog %}
    {% endcomment %}

<a href="/wiadomości/{{ dog.pk }}/">Pokaż wiadomości</a></br>
<a href="/ankiety/{{ dog.pk }}/">Pokaż ankiety adopcyjne</a></br>
<a href="/edytuj/{{ dog.pk }}/">Edytuj</a></br>
<a href="/kategorie_dodaj/{{ dog.pk }}">Dodaj kategorię</a></br>
<a href="/kategorie/{{ dog.pk }}/">Usuń kategorię</a></br>
<a href="/usun/{{ dog.pk }}/">Usuń</a></br>
{% endblock %}