{% extends "base.html" %}

{% block content %}
<p>
    <a href="/sortuj" class = "btn btn-default btn-lg" role="button">Sortuj listę</a>
    <a href="/wyszukaj" class = "btn btn-info btn-lg" role="button">Znajdź psa dla siebie</a>
</p>
<p>
{% for dog in dogs %}
<h3><a href="/pies/{{ dog.id }}">{{ dog.name }}, {{ dog.town }}</a></h3>
<img src="/media/{{ dog.picture_1 }}">
{% endfor %}
</p>
{% endblock %}

{% block user %}
{% if user.is_authenticated %}
<p>
    Użytkownik: {{ user }}</br>
    <a href="/dodaj">Dodaj psa</a></br>
    <a href="/wyloguj/">Wyloguj</a></br>
{% else %}
    <a href="/zaloguj/" class="btn btn-default btn-info" role="button">Zaloguj się</a>
    <a href="/dodaj_konto/" class="btn btn-default btn-info" role="button">Załóż konto</a>
</p>
{% endif %}
{% endblock %}


