{% extends "base.html" %}

{% block content %}
  {% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">
     {% csrf_token %}
     Imię: {{ form.name }}</br>
     Płeć: {{ form.sex }}</br>
     Wiek (w latach): {{ form.age }} {{ form.age.errors }}</br>
     Waga: {{ form.weight }} {{ form.weight.errors }}</br>
     Województwo: {{ form.region }}</br>
     Miejscowość: {{ form.town }}</br>
     Czy akceptuje koty: {{ form.accepts_cats }}</br>
     Dom z psem: {{ form.house_with_male_dog }}</br>
     Dom z suczką: {{ form.house_with_female_dog }}</br>
     Możliwość transportu: {{ form.transport }}</br>
     Możliwość adopcji za granicę: {{ form.adoption_abroad }}</br>
     Opis: {{ form.description }}</br>
     Dane do kontaktu: {{ form.contact_data }}</br>
     <button type="submit" class="btn btn-warning">Zapisz</button>
     {{ form.non_field_errors }}
    </form>
    Kategorie:</br>
    {% for cat in dog.categories.all %}
      {{ cat.name }} <a href="/usun_kategorie/{{ dog.pk }}/{{ cat.pk }}" class="btn btn-warning">Usuń</a></br>
    {% endfor %}</br>
    <a href="/dodaj_kategorie/{{ dog.pk }}" class="btn btn-warning">Dodaj kategorię</a></br>
    <a href="/pies/{{ dog.pk }}" class="btn btn-info">Wróć do ogłoszenia</a>
  {% else %}
    <p>
      Nie możesz edytować ogłoszenia.
    </p>
  {% endif %}
{% endblock %}
