{% extends "base.html" %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    {{ form.content }}</br>
    Twój e-mail: {{ form.e_mail }}</br>
    <input type="submit" value="Wyślij" class="btn btn-default">
  </form>
  <p>
    Wypełnienie formularza oznacza wyrażenie zgody na przetwarzanie podanych w formularzu danych osobowych w celu odpowiedzi na Twoje pytanie. Tutaj dowiesz się, kto i jak przetwarza Twoje dane:</br>
    <a href="/polityka_prywatnosci">Polityka prywatności</a>
  </p>
{% endblock %}
