{% extends "base.html" %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    {{ form.content }}</br>
    Twój e-mail: {{ form.e_mail }}</br>
    {{ form.consent }} Oświadczam, że zapoznałem się z <a href="/polityka_prywatnosci">Polityką prywatności</a> serwisu "Adoptuj psa z Radys!" i wyrażam zgodę na przetwarzanie moich danych osobowych w celu otrzymania odpowiedzi na zadane pytanie.</br>
    <input type="submit" value="Wyślij" class="btn btn-default">
  </form>
{% endblock %}
