{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="row equal bottom-25 xsfont">
    <div class="col-xs-12 col-md-6">
      Celem serwisu "Adoptuj radysiaka!" jest ogłaszanie do adopcji psów zabranych z Radys, jednego z największych schronisk w Polsce, usytuowanego na uboczu, na północnym wschodzie kraju. Pokazujemy psy, które rozpoczęły drogę do własnego domu - są już poza schroniskiem, mieszkają w domach tymczasowych lub hotelikach. O wiele więcej niż w przypadku adopcji bezpośrednio ze schroniska wiadomo zatem o ich charakterze, stanie zdrowia, upodobaniach, ewentualnych lękach, relacjach z innymi psami czy kotami. Sprzyja to świadomej, udanej decyzji o przygarnięciu nowego członka rodziny. Adopcja psa z naszej strony sprawia również, że kolejny pies ze schroniska może dostać szansę na wyjazd.</br>
      Kontakt: <strong>admin@adoptujradysiaka.org</strong></br>
      Dane do kontaktu w sprawie adopcji są podane w ogłoszeniach poszczególnych psiaków.
    </div>
    <div class="col-xs-12 col-md-6">
      <a href='https://pl-pl.facebook.com/pages/category/Community-Service/Radysiaki-na-tymczasie-szukaj%C4%85-domu-344902889676162/'>Strona "Radysiaki na tymczasie szukają domu" na Facebooku</a></br>
      <img src="/static/fb.jpg" class="img-responsive">
    </div>
  </div>
{% endblock %}
