{% extends "base.html" %}

{% block content %}
  {% if form.errors %}
    <p class="text-danger">
      Sprawdź, czy formularz jest poprawnie wypełniony.
    </p>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <strong>Płeć (zaznacz przynajmniej 1 pole): {{ form.sex }}</strong>
    <strong>Województwo (zaznacz przynajmniej 1 pole): {{ form.region }}</strong>
    <strong>Kategoria (zaznacz przynajmniej 1 pole): {{ form.categories }}</strong>
    <input type="submit" value="Wyszukaj" class="btn btn-default"></br>
   </form>
{% endblock %}
