{% extends "base.html" %}

{% block content %}
  <p>
    <strong>Regulamin serwisu "Adoptuj psa z Radys!" (zwanego dalej “Serwisem”), obowiązujący od dnia 24.11.2019 r.</strong></br>
  </p>
  <p>
    1. Korzystanie z serwisu jest bezpłatne.</br>
    2. Serwis służy umieszczaniu ogłoszeń adopcyjnych psów pochodzących ze schroniska w Radysach i przebywających obecnie w hotelikach oraz domach tymczasowych. Inne ogłoszenia będą usuwane przez administratora.</br>
    3. Konta użytkowników nieprzestrzegających punktu 2 Regulaminu będą usuwane.</br>
    4. Użytkownicy są zobowiązani edytować bądź usuwać ogłoszenia niezwłocznie po ich zdezaktualizowaniu się. Również administrator może edytować bądź usuwać ogłoszenia w takim wypadku.</br>
    5. Ankiety adopcyjne i wiadomości przesłane poprzez odpowiednie formularze będą usuwane po 7 dniach od daty przesłania.
  </p>
{% endblock %}