{% extends "base.html" %}

{% block content %}
 <div class="xsfont">
    <strong>Regulamin serwisu "Adoptuj radysiaka!" (zwanego dalej “Serwisem”), obowiązujący od dnia 01.01.2020 r.</strong></br>
    1. Korzystanie z serwisu jest bezpłatne.</br>
    2. Serwis służy umieszczaniu ogłoszeń adopcyjnych psów pochodzących ze schroniska w Radysach i przebywających obecnie w hotelikach oraz domach tymczasowych. Inne ogłoszenia będą usuwane przez administratora.</br>
    3. Konta użytkowników nieprzestrzegających punktu 2 Regulaminu będą usuwane.</br>
    4. Ogłoszenia ukazują się w Serwisie po zaakceptowaniu przez administratora.</br>
    5. Użytkownicy są zobowiązani edytować bądź usuwać ogłoszenia niezwłocznie po ich zdezaktualizowaniu się. Uprawnienie takie ma również administrator.</br>
 </div>
{% endblock %}
