{% extends "base.html" %}

{% block content %}
  <p>
    <strong>{{ message }}</strong>
  </p>
  <form method="post">
    {% csrf_token %}
    Użytkownik:  {{ form.username }}</br>
    Hasło:  {{ form.password_1 }}</br>
    Powtórz hasło:  {{ form.password_2 }}</br>
    E-mail:  {{ form.email }}</br>
    <input type="submit" value="Wyślij" class="btn btn-default">
  </form>
  <p>
     Wypełnienie formularza oznacza wyrażenie zgody na przetwarzanie podanych w formularzu danych osobowych w celu utworzenia konta użytkownika. Tutaj dowiesz się, kto i jak przetwarza Twoje dane:</br>
     <a href="/polityka_prywatnosci">Polityka prywatności</a>
  </p>
{% endblock %}
